body {
    background-color: #bb2222;
}

.title {
    position: absolute;
    font-size: 8vw;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #292929;
}

/* Dropdown Button */
.dropbtn {
    position: fixed;
    background-color: #292929;
    color: white;
    padding: 2vh;
    font-size: 2vh;
    border: none;
	top: .5%;
	left: 2vh;
}

.dropbtn2 {
    position: fixed;
    background-color: #292929;
    color: white;
    padding: 2vh;
    font-size: 2vh;
    border: none;
	top: .5%;
	left: 182vh;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 20%;
    box-shadow: 0vw 2vw 5vw 0vw rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content2 {
    display: none;
    background-color: #f1f1f1;
    min-width: 20%;
    box-shadow: 0vw 2vw 5vw 0vw rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 2vh 4vh;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a {
    color: black;
    padding: 2vh 4vh;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content2 a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
        display: inline-block;
}

.dropdown2:hover .dropdown-content2 {
        display: inline-block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ff0000;
}

.dropdown2:hover .dropbtn2 {
    background-color: #ff0000;
}
