body{
	background-color: black;
}

.title{
	font: helvetica;
	color: black;
	size: 40px;
}

.link{
	font: helvtica;
	color: black;
	size: 20px;
}

.subtitle{
	font:helvetica;
	color:black;
	size: 10px;
}

.img{
	
}

